[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
designer = "/Users/lzembruzki/.local/share/virtualenvs/DNSTracker-Modern-Interface-PySide6-PyQt6-mvj8pGLM/bin/pyside6-designer"

[packages]
pyside6 = "*"

[dev-packages]

[requires]
python_version = "3.11"
